<style>
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  header h1 {
    margin: 5;
  }

  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  header nav ul li {
    margin: 0 15px;
  }

  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
</style>
<header>
  <h1>{{ shop.name }}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/collections/all">Catalog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

{% comment %}
  <header class="main-header">
  	header
  </header>
{% endcomment %}
