<header>
  <h1>My Store</h1>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/all">Catalog</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>
</header>


{% comment %} <header class="main-header">
	header
</header>


<style>
	*,
	*::before,
	*::after{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	ul,p,h1,h2,h3,h4,h5,h6{
		margin: 0;
		padding: 0;
	}
	a{
		text-decoration: none;
		color: #444;
	}

	.main-header{
		height: 50px;
		background: black;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style> {% endcomment %}