<div class="container">
  <div class="content">
    <h2>collections</h2>
    <div>
      <a href="{{ routes.collections_url }}"> collection_list </a>
    </div>
    <br>
    <div class="grid">
      {% for collection in collections %}
        <div class="grid-item">
          <a href="{{collection.url}}">
            <li>
              {{ collection.title | escape }}
            </li>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
