<footer>
  <p>&copy; 2023 My Store. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
</style>
