{% comment %} <footer class="main-footer">footer</footer> {% endcomment %}
<footer>
  <p>&copy; 2023 My Store. All rights reserved.</p>
</footer>
<style>
  .main-footer {
    height: 10rem;
    background: #121212;
    text-align: center;
    color: #fff;
  }
</style>
