/* FAQ Section Styles */
.exclusie-faq-section {
  width: 100%;
  max-width: 1132px;
  margin: 91px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: none;
}

.exclusie-faq-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 5rem;
  max-width: 1100px;
}

.exclusie-faq-heading {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  margin: 32px 0 32px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.exclusie-faq-list {
  width: 100%;
  margin: 27px auto 0px auto;
}

.exclusie-faq-item {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.exclusie-faq-question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  padding: 24px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.2s;

}

.exclusie-faq-question.open .exclusie-faq-arrow {
  transform: rotate(180deg);
}

.exclusie-faq-arrow {
  font-size: 1.2rem;
  margin-left: 16px;
  transition: transform 0.2s;
}

.exclusie-faq-answer {
  font-size: 16px;
  color: #222;
  padding: 0 0 24px 0;
  display: none;
}

@media (max-width: 750px) {
  .exclusie-faq-section {
    max-width: 95%;
    padding: 0 0 16px 0;
    margin: 20px auto;
  }

  .exclusie-faq-heading {
    font-size: 2.4rem;
    margin: 24px 0 24px 0;
  }

  .exclusie-faq-question {
    font-size: 1.4rem;
    padding: 18px 0 18px 0;
  }

  .exclusie-faq-answer {
    font-size: 1.4rem;
    padding-bottom: 18px;
  }

  .exclusie-faq-container {
    padding-bottom: 5rem;
  }
}