#cart-drawer .cart-drawer-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0003;
  transition: opacity 0.4s;
  z-index: 19;
}
#cart-drawer .cart-drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: min(450px, 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: opacity 0.4s;
  box-sizing: border-box;
  z-index: 20;
}
#cart-drawer:not(.cart-open) .cart-drawer-overlay,
#cart-drawer:not(.cart-open) .cart-drawer__wrapper {
  opacity: 0;
  transition:
    opacity 0.4s,
    width 0s linear 0.4s,
    visibility 0s linear 0.4s;
  visibility: hidden;
  width: 0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}
.cart-header h2 {
  margin: 0;
  font-weight: 500;
  font-size: 140%;
}
.cart-header a {
  color: inherit;
  letter-spacing: 0.03em;
  text-underline-offset: 3px;
}
.cart-header h2 {
  margin: 0;
  font-weight: 500;
  font-size: 140%;
}
.cart-drawer__close {
  display: flex;
  cursor: pointer;
}
.cart-items {
  opacity: 1;
  transition: opacity 0.2s;
  padding: 1rem;
  overflow: auto;
  flex: 1;
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.cart-item:last-child {
  border-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
.cart-item__media img {
  width: 100%;
  height: auto;
}
.cart-item__details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  font-size: 15px;
}
.cart-item__heading a {
  line-height: 1.3;
  display: block;
  color: #000;
  text-decoration: none;
  max-width: 30ch;
}
.cart-item__heading .cart-item__price {
  display: block;
  margin-top: 6px;
  font-weight: normal;
}
.cart-item__options {
  display: grid;
  gap: 2px;
  margin-block: 6px;
}
.cart-item__option * {
  display: inline;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
}
.cart-item__option:empty {
  display: none;
}
.cart-item__total {
  text-align: right;
}
#cart-drawer .cart-item__total {
  grid-area: 1/2;
}
.cart-item__total s {
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
}
.cart-item__details ul.cart-discounts {
  margin: 10px 0 0;
}
.cart-item__action {
  padding-block: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  grid-area: 2 / span 2;
}
.cart-item__remove {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-item__remove svg {
  width: 14px;
}
.cart-item__remove a {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
}
ajax-cart-quantity {
  display: grid;
  grid-template-columns: 30px 60px 30px;
  border: 1px solid #bdbdbd;
  width: 120px;
}
ajax-cart-quantity a {
  display: grid;
  place-items: center;
  padding-block: 10px;
  color: #000;
}
ajax-cart-quantity input {
  border: 0;
  text-align: center;
  border-inline: 1px solid #bdbdbd;
}
ajax-cart-quantity svg {
  width: 14px;
  height: auto;
}
.cart-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
.cart-note {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
.cart-note label {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}
.cart-note textarea {
  flex-grow: 1;
  resize: vertical;
  padding: 1rem;
  min-height: 5rem;
  margin-bottom: 1rem;
}
#cart-drawer .cart-note label:not(.note-open) + textarea {
  display: none;
}
ul.cart-discounts {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  font-size: 12px;
  letter-spacing: 0.03em;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.cart-charges {
  margin-bottom: 1rem;
}
.cart-discounts li {
  display: flex;
  align-items: center;
}
.cart-discounts svg.icon-discount {
  width: 12px;
  height: auto;
  margin-right: 0.5rem;
}
form#my-ajax-cart-form button {
  border: 1px solid #000;
  background: #000;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

html.js-ajax-cart-processing .cart-items {
  opacity: 0.7;
}

/* Main Cart Page */

#cart-main {
  padding-block: 1rem;
}
#cart-main .cart-header,
#cart-main .cart-items,
#cart-main .cart-footer {
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  #cart-main .cart-item {
    grid-template-columns: 1fr 8fr;
    column-gap: 2rem;
    border-color: transparent;
  }
  #cart-main .cart-item__details {
    grid-template-columns: 2fr 1fr 1fr;
  }
  #cart-main .cart-item__action {
    grid-area: unset;
  }
  #cart-main .cart-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  #cart-main .cart-charges {
    text-align: right;
  }
  #cart-main .cart-total,
  #cart-main .cart-footer .cart-discounts li {
    justify-content: flex-end;
  }
  #cart-main .cart-note {
    width: 35rem;
    border-color: transparent;
    margin-bottom: 0;
  }
  #cart-main .cart-actions {
    width: 35rem;
    margin-left: auto;
  }
}
