.collection-hero__title {
    margin: 25px 0;
    font-size: 40px;
    font-weight: 400;
    color: black;
  }

  .sorting-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 5px;
  }

  .child-sorting-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 350px;
  }

  .product-grid-container {
    width: 100%;
  }

  .facet-filters__label {
    display: block;
    color: rgba(var(--color-foreground), .85);
    font-size: 14px;
    margin: 0 20px 0 0;
    font-weight: 400;
    width: max-content;
  }

  .facet-filters__field {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .collection-filters-wrapper summary {
    list-style: none;
    cursor: pointer;
    position: relative;
  }

  .collection-filters-wrapper summary:hover {
    text-decoration: underline;
    color: rgba(var(--color-foreground), 1);
  }

  .collection-filters-wrapper summary span{
    font-size: 14px;
  }

  .facets__label:hover,
  .facets__label:has(:focus-visible) {
    color: rgba(var(--color-foreground), 1);
  }

  .facet-filters__sort {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    height: auto;
    margin: 0;
    padding-left: 0;
    padding-right: 17px;
    cursor: pointer;
    color: rgba(var(--color-foreground),.75);
    max-width: 130px;
  }

  .reset-button {
    text-transform: capitalize;
    color: rgba(var(--color-foreground),.75);
    margin-left: 10px;
  }

  .active-filter-item {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .active-filter-item span {
    font-size: 14px;
    margin-right: 10px;
    pointer-events: none
  }

  .item-counts-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 80px;
    position: relative;
  }

  .results-count {
    width: max-content;
    font-size: 14px;
  }

  .active-filter-group__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .active-filter-group__item-wrapper .active-filter-item {
    margin-top: 12px;
    margin-right: 12px;
  }

  .filter-close .icon-close {
    width: 15px;
    height: 15px;
    pointer-events: none;
  }

  .filter-close {
    display: flex;
  }

  .active-filter-item.active-filter-clear-all {
    background: none;
    text-decoration: underline;
  }

  .horizontal-filters__parent-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filter-type-horizontal .filter-close .icon-close {
    width: 10px;
    height: 10px;
  }

  .filter-type-horizontal .active-filter-group__item-wrapper {
    gap: 15px;
  }

  .filter-type-horizontal .active-filter-group__item-wrapper .active-filter-item {
    margin: 0px;
  }

  .filter-type-horizontal .filter.active-filter-item.active-filter-clear-all {
    border: none;
  }

  @media screen and (max-width: 750px) {
    .product-grid {
      gap: 5px;
    }

    .sorting-wrapper {
      margin-bottom: 0px;
    }

    .results-count{
      font-size: 14px;
    }

    .active-filter-item span{
      font-size: 12px;
    }

    .filter-type-horizontal .active-filter-group__item-wrapper {
      gap: 0px;
    }

    .filter-type-horizontal .active-filter-group__item-wrapper .active-filter-item {
      margin-top: 12px;
      margin-right: 12px;
    }
  }

  /*====================================
  END COLLECTION FILTERS & GRID STYLING
  ======================================*/

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .loading-overlay__spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(var(--color-foreground), 0.1);
    border-top-color: rgb(var(--color-foreground));
    border-radius: 100%;
    animation: spin 0.6s infinite linear;
    display: none;
    position: absolute;
  }

  .product-grid-wrapper{
    margin-top: 15px;
  }

  .mobile-filters-drawer {
    width: 100%;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
{%- endstyle -%}

{%- style -%}
  .filters-sidebar {
    margin-bottom: 20px;
    width: 260px;
    margin-right: 30px;
    flex-shrink: 0;
  }

  .facets__heading {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .filters-horizontal .facets__heading {
    margin: 0px;
    margin-right: 20px;
    width: unset;
  }

  .filter-section {
    border-top: 1px solid rgba(var(--color-foreground), 0.1);
    margin-right: 0;
  }

  .facets__disclosure-vertical summary {
    padding: 16.5px 17.5px 16.5px 0px;
  }

  .facets__disclosure-vertical details[open] summary .icon-caret {
    transform: rotate(180deg);
  }

  .facets__disclosure-vertical summary .icon-caret {
    position: absolute;
    height: 6px;
    right: 0px;
    top: calc(50% - 2px);
  }

  .facets__display-vertical {
    display: flex;
    flex-direction: column;
    padding: 6px 12px 25px 0px;
  }

  .facet-checkbox {
    padding: 10px 20px 10px 0;
    flex-grow: 1;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    cursor: pointer;
  }

  .facet-checkbox:hover {
    color: rgba(var(--color-foreground), 1);
    text-decoration: underline;
  }

  .facet-checkbox input[type='checkbox'] {
    margin-right: 12px;
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 16px;
    top: 7px;
    left: -4px;
  }

  .facet-checkbox > svg,
  .facet-checkbox > .svg-wrapper {
    background-color: rgb(var(--color-background));
    margin-right: 12px;
    flex-shrink: 0;
  }

  .facet-checkbox .svg-wrapper {
    visibility: hidden;
    position: absolute;
    left: 3px;
    z-index: 5;
    top: 14px;
    width: 11px;
    height: 7px;
  }

  .facet-checkbox > input[type='checkbox']:checked ~ .svg-wrapper > .icon-checkmark {
    visibility: visible;
  }

  .facet-checkbox:has(input:disabled) {
    opacity: 0.4;
    pointer-events: none;
  }

  .filters__show-more {
    background: white;
    border: 1px solid;
    padding: 10px 5px;
    cursor: pointer;
    margin-top: 15px;
    outline: 1px solid transparent;
  }

  .filters__show-more:hover {
    outline: 1px solid black;
  }

  /* STYLES FOR HORIZONTAL FILTERS TYPE */

  .filters-horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 700px;
  }

  .facets__wrapper {
    position: relative;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  .filter-button {
    width: max-content;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: rgba(var(--color-foreground), 0.75);
    padding: 0px;
    margin-right: 5px;
  }

  .filter-button:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgba(var(--color-foreground), 1);
  }

  .filter-button .icon-caret {
    height: 6px;
    position: relative;
    top: -1px;
    right: -5px;
  }

  .filter-content {
    border-width: var(--popup-border-width);
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-radius: var(--popup-corner-radius);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
    background-color: rgb(var(--color-background));
    position: absolute;
    top: calc(100% + 10px);
    left: -12px;
    width: 350px;
    max-height: 550px;
    overflow-y: auto;
    z-index: 5;
  }

  .filter-content .facets__list {
    padding: 7px 20px;
    list-style-type: none;
    margin: 0;
  }

  .facets__head-wrapper {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: rgb(var(--color-background));
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  .facet-reset {
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    text-underline-offset: 3px;
  }