/* Style Gallery Section Styles */
.style-gallery-section {
  width: 100%;
  background: var(--section-bg);
  padding-bottom: var(--section-padding-bottom);
}

.style-gallery__container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10rem;
}

.style-gallery__heading {
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 2.5rem;
  margin-top: 0;
  text-align: var(--heading-align);
  color: var(--heading-color);
  font-size: 3.6rem;
}

.style-gallery__swiper {
  width: 100%;
}

.style-gallery__grid {
  display: flex;
  gap: 20px;
}

.style-gallery__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  min-height: 285px;
  min-width: 247px;
  overflow: hidden;
}

.style-gallery__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.style-gallery__img--placeholder {
  background: #ddd;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: 284px;
}

@media (max-width: 900px) {

  .style-gallery__img,
  .style-gallery__img--placeholder,
  .style-gallery__card {
    min-width: 140px;
    min-height: 140px;
    height: 140px;
  }

  .style-gallery__heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {

  .style-gallery__img,
  .style-gallery__img--placeholder,
  .style-gallery__card {
    min-width: 100px;
    min-height: 100px;
    height: 100px;
  }
}